global-reset()
article
  column-count 2
  column-gap 0
  width 100%
  height 100%
  
.main
  font-size 96px
  color purple
  text-decoration none
  display block
  position relative
  top 40%
  
.sub
  font-size 32px
  text-decoration none
  display block
  position relative
  top 42%

div
   display inline-block
   width 100%
   height 100%
   text-align center
   
   &.left
     background-color beige
   &.right
     background-color #ededed
     


        

