whitish = #ededed
wheatish = #f2f0d3
beige = #f5f5dc
blackish = #444
grey = #ccc
textgrey = #999
bluish = #4488cc
lightbluish = #2266ff

global-reset()

*:focus
  outline none

body
    background-color whitish
    color            blackish

article.main
  width 1024px
  min-height 800px
  margin 0 auto
  background-color white
  padding 24px

.ql-box
  margin 12px
  background-color white
  border 1px solid grey

.ql-toolbar
  border-bottom 1px solid grey

.ql-footer
  border-top 1px solid grey
  padding 8px
  text-align right

.hoverable
  position relative
  .on-hover
    position absolute
    display none
  &:hover
    .on-hover
      display inline-block

.button-panel
  text-align right
  width 95%
  position absolute

.has-drawer
  position relative

  .drawer
    position absolute
    left 100%
    top  0px
    display inline-block
    width 240px
    margin-left 24px

.action-panel
  padding 4px
  background-color white
  border-radius right 8px
  .action
    padding 2px 8px
    margin 4px 8px
    display block
  h4
    font-size 12px
    color textgrey
    padding 4px 16px

button.action
  background transparent
  cursor pointer
  padding 8px 12px
  border 0
  color bluish
  &:hover
    color lightbluish

button.secondary
  &:hover
    text-decoration underline

button.primary
  border 1px solid grey
  background-color whitish

styled-ordered-list(ctype, prefix="", suffix="", width=0.8em, lmargin=3em, lpadding=3em, top=0px, left=0px, fsize=1em, fweight=normal)
  list-style-type ctype !ie
  margin 0
  margin-left lmargin
  counter-reset li-counter
  
  >li
    padding-left lpadding
    &:before
      position absolute
      top top
      left left
      width width
      font-size fsize
      font-weight fweight
      line-height 1em
      text-align right
      content prefix counter(li-counter, ctype) suffix
      counter-increment li-counter

ol.numbered
  styled-ordered-list(decimal, suffix:")", lmargin:0.5em, lpadding:2.5em, fsize:1.5em, fweight:bold)
  > li
    border-bottom 1px dotted whitish
    
ol.letters
  styled-ordered-list(lower-alpha, prefix:"(", suffix:")", lmargin:2.5em, top: 6px)

.content-container
  margin 24px 0
  &.mode-edit
    .editor-container
      display block
    .viewer-container
      display none
    .prompter-container
      display none
  &.mode-view
    .editor-container
      display none
    .viewer-container
      display block
    .prompter-container
      display none
  &.mode-prompt
    .editor-container
      display none
    .viewer-container
      display none
    .prompter-container
      display block

.prompter-container
  text-align center
  border 1px dotted grey
  border-radius 5px
  cursor pointer
  position relative
  background-color beige
  .prompt-add-tip
    display none
  .prompt-edit-tip
    display block
  .empty-content
    position relative
    span
      width 100%
      position absolute
      left 0
      top 45%
    .prompt-add-tip
      display block
    .prompt-edit-tip
      display none

.viewer-container
  cursor pointer
  border 1px dotted transparent !ie
  border-radius 4px
  .action
    top 0px
    right 0px
  &:hover
    border-color grey !ie
    outline 1px dotted grey

.editor-container
.viewer-container
.prompter-container
  min-height 80px
  > div
    min-height 80px
    
.viewer
  padding 8px

.part-container
  margin 12px 0 48px
  min-height 240px

.question-container
  > .content-container
    min-height 160px

.choice-container
  min-height 90px

.question-container
  margin 12px 0
  min-height 140px
