whitish = #ededed
blackish = #444
grey = #ccc
bluish = #4488cc
lightbluish = #2266ff

global-reset()

li
  list-style-type none

body
    background-color white
    color            blackish
    
article.main
  width 1024px
  margin 0 auto
  background-color whitish
  padding 24px
  
.background-editor-container
  margin 12px
  background-color white
  
.ql-bar
  border-bottom 1px solid grey
  
.ql-footer
  border-top 1px solid grey
  padding 8px
  text-align right
  
.hoverable
  position relative
  .on-hover
    position absolute
    display none
  &:hover
    .on-hover
      display inline-block

button.action
  background transparent
  cursor pointer
  padding 8px 12px
  border 0
  color bluish
  &:hover
    color lightbluish
 
button.secondary
  &:hover
    text-decoration underline
  
button.primary
  border 1px solid grey
  background-color whitish

.part-container
  &.mode-edit
    .background-editor-container
      display block
    .background-viewer-container
      display none
    .background-prompter
      display none
  &.mode-view
    .background-editor-container
      display none
    .background-viewer-container
      display block
    .background-prompter
      display none
  &.mode-prompt
    .background-editor-container
      display none
    .background-viewer-container
      display none
    .background-prompter
      display block
      
.background-viewer-container
  .action
    top 12px
    right 12px
    
.background-prompter
  cursor pointer
