whitish = #ededed
wheatish = #f2f0d3
beige = #f5f5dc
blackish = #444
grey = #ccc
bluish = #4488cc
lightbluish = #2266ff

global-reset()

body
    background-color whitish
    color            blackish
    
article.main
  width 1024px
  margin 0 auto
  background-color white
  padding 24px
  
.ql-box
  margin 12px
  background-color white
  border 1px solid grey
  
.ql-toolbar
  border-bottom 1px solid grey
  
.ql-footer
  border-top 1px solid grey
  padding 8px
  text-align right
  
.hoverable
  position relative
  .on-hover
    position absolute
    display none
  &:hover
    .on-hover
      display inline-block
      
.has-drawer
  position relative
  
  .drawer
    position absolute
    left 100%
    top  0px
    display inline-block
    width 120px
    margin-left 24px
    
.action-panel
  padding 4px
  background-color white
  border-radius right 8px
  .action
    padding 2px 8px
    margin 4px 8px

button.action
  background transparent
  cursor pointer
  padding 8px 12px
  border 0
  color bluish
  &:hover
    color lightbluish
 
button.secondary
  &:hover
    text-decoration underline
  
button.primary
  border 1px solid grey
  background-color whitish

.content-container
  min-height 200px
  &.mode-edit
    .editor-container
      display block
    .viewer-container
      display none
    .prompter-container
      display none
  &.mode-view
    .editor-container
      display none
    .viewer-container
      display block
    .prompter-container
      display none
  &.mode-prompt
    .editor-container
      display none
    .viewer-container
      display none
    .prompter-container
      display block
      
.prompter-container
  border 1px solid grey
  padding 24px
  background-color beige
      
.viewer-container
  cursor pointer
  border 1px dotted transparent
  border-radius 4px
  padding 12px
  .action
    top 0px
    right 0px
  &:hover
    border-color grey
    
.prompter-container
  cursor pointer
